In [1]:
import pandas as pd

Create a data dictionary that looks like the DataFrame below

In [12]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

df1 = pd.DataFrame(data)

df1_dict = df1.to_dict(orient='list')

print(df1_dict)

{'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'], 'hp': [45, 39, 44, 45], 'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'], 'pokedex': ['yes', 'no', 'yes', 'no'], 'type': ['grass', 'fire', 'water', 'bug']}

Assign it to a variable called pokemon

In [13]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

pokemon = pd.DataFrame(data)

Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [15]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

pokemon = pd.DataFrame(data)

pokemon_reordered = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

print(pokemon_reordered)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

Add another column called place, and insert what you have in mind.

In [16]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

pokemon = pd.DataFrame(data)

places = ['jupiter',' uranus', 'pluto', 'mars']

pokemon['places'] = places

pokemon_reordered = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex', 'places']]

print(pokemon_reordered)

         name   type  hp   evolution pokedex   places
0   Bulbasaur  grass  45     Ivysaur     yes  jupiter
1  Charmander   fire  39  Charmeleon      no   uranus
2    Squirtle  water  44   Wartortle     yes    pluto
3    Caterpie    bug  45     Metapod      no     mars

Present the type of each column

In [17]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

pokemon = pd.DataFrame(data)

print(pokemon.dtypes)

evolution    object
hp            int64
name         object
pokedex      object
type         object
dtype: object